<a href="https://colab.research.google.com/github/joudelshawa/mental-health-ai-app/blob/main/cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# getting data

In [90]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [91]:
data = pd.read_csv('all_data.csv',lineterminator='\n')

In [92]:
data

                                                   Tweet Category
0      @Lordoftheboard3 CHEATERS AND THIEVES Iâ€™ve los...   Gaming
1      Applied for job positions at 100 Thieves and T...   Gaming
2      it's jhb day!! happy birthday jhbteam my favou...   Gaming
3      Once again, I wouldn't eat a burger made by an...   Gaming
4      @Mad_Magical Evil Geniuses and 100 Thieves goi...   Gaming
...                                                  ...      ...
47732  London's Royal Academy Has Pulled an Artistâ€™s ...     News
47733  What will happen to the handshake after Covid-...     News
47734  Really good article which sets out Ethiopia's ...     News
47735  Neighbour burns down giant Frankenstein sculpt...     News
47736  A schoolgirl in #Tigray told the BBC she lost ...     News

[47737 rows x 2 columns]

# removing punctuation

In [93]:
import string
punc = string.punctuation
punc = punc.replace('@', '')
punc = punc.replace('#', '')
punc

'!"$%&\'()*+,-./:;<=>?[\\]^_`{|}~'

In [95]:
def remove_punctuation(text):
    no_punct=[words for words in str(text) if words not in punc]
    words_wo_punct=''.join(no_punct)
    return words_wo_punct

data['Tweet']=data['Tweet'].apply(lambda x: remove_punctuation(x))
data

                                                   Tweet Category
0      @Lordoftheboard3 CHEATERS AND THIEVES Iâ€™ve los...   Gaming
1      Applied for job positions at 100 Thieves and T...   Gaming
2      its jhb day happy birthday jhbteam my favourit...   Gaming
3      Once again I wouldnt eat a burger made by anyo...   Gaming
4      @MadMagical Evil Geniuses and 100 Thieves goin...   Gaming
...                                                  ...      ...
47732  Londons Royal Academy Has Pulled an Artistâ€™s W...     News
47733  What will happen to the handshake after Covid1...     News
47734  Really good article which sets out Ethiopias p...     News
47735  Neighbour burns down giant Frankenstein sculpt...     News
47736  A schoolgirl in #Tigray told the BBC she lost ...     News

[47737 rows x 2 columns]

# decided to follow github instead

In [42]:
import copy
import numpy as np
import matplotlib.pyplot as plt
import re
import nltk
nltk.download('stopwords')
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import VarianceThreshold
from imblearn.over_sampling import SMOTE
from sklearn.dummy import DummyClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
#from sklearn.metrics import accuracy_score
#from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import seaborn as sns

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [43]:
# tweets = []
# categories = []
# with open('all_data.csv','r') as csv:
#     count = 0;
#     for line in csv:
#         a = line.strip().split(',')
#         tweet = a[0].lower()
#         tweet = re.sub('\s\W',' ',tweet)
#         tweet = re.sub('\W\s',' ',tweet)
#         tweets.append(tweet)
#         categories.append(a[1])

In [44]:
import nltk
import re

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')


# Import word_tokenize and stopwords from nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [55]:
def process_tweets(tweet):
    
    # Remove links
    tweet = re.sub(r"http\S+|www\S+|https\S+", '', tweet, flags=re.MULTILINE)
    
    # Remove mentions and hashtag
    tweet = re.sub(r'\@\w+|\#','', tweet)
    
    # Tokenize the words
    tokenized = word_tokenize(tweet)

    # Remove the stop words
    tokenized = [token for token in tokenized if token not in stopwords.words('english')] 

    # Lemmatize the words
    lemmatizer = WordNetLemmatizer()
    tokenized = [lemmatizer.lemmatize(token, pos='a') for token in tokenized]

    # Remove non-alphabetic characters and keep the words contains three or more letters
    tokenized = [token for token in tokenized if token.isalpha() and len(token)>2]
    
    return tokenized
    
# Call the function and store the result into a new column
data['Processed'] = data['Tweet'].str.lower().apply(process_tweets)

# Print the first fifteen rows of Processed
display(data[['Processed']].head(15))

ValueError: ignored

# trying again

In [60]:
data

                                                   Tweet Category
0      @Lordoftheboard3 CHEATERS AND THIEVES Iâ€™ve los...   Gaming
1      Applied for job positions at 100 Thieves and T...   Gaming
2      it's jhb day!! happy birthday jhbteam my favou...   Gaming
3      Once again, I wouldn't eat a burger made by an...   Gaming
4      @Mad_Magical Evil Geniuses and 100 Thieves goi...   Gaming
...                                                  ...      ...
47732  London's Royal Academy Has Pulled an Artistâ€™s ...     News
47733  What will happen to the handshake after Covid-...     News
47734  Really good article which sets out Ethiopia's ...     News
47735  Neighbour burns down giant Frankenstein sculpt...     News
47736  A schoolgirl in #Tigray told the BBC she lost ...     News

[47737 rows x 2 columns]

In [65]:
# string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [66]:
# def remove_punctuation(text):
#     no_punct=[words for words in str(text) if words not in string.punctuation]
#     words_wo_punct=''.join(no_punct)
#     return words_wo_punct

# data['Tweet No Punct']=data['Tweet'].apply(lambda x: remove_punctuation(x))
# data.head(15)

                                                Tweet  ...                                     Tweet No Punct
0   @Lordoftheboard3 CHEATERS AND THIEVES Iâ€™ve los...  ...  Lordoftheboard3 CHEATERS AND THIEVES Iâ€™ve lost...
1   Applied for job positions at 100 Thieves and T...  ...  Applied for job positions at 100 Thieves and T...
2   it's jhb day!! happy birthday jhbteam my favou...  ...  its jhb day happy birthday jhbteam my favourit...
3   Once again, I wouldn't eat a burger made by an...  ...  Once again I wouldnt eat a burger made by anyo...
4   @Mad_Magical Evil Geniuses and 100 Thieves goi...  ...  MadMagical Evil Geniuses and 100 Thieves going...
5   @SpradlinLaura @JacquesDutronc @CA_EDD Thanks ...  ...  SpradlinLaura JacquesDutronc CAEDD Thanks for ...
6   Am I judging a book by its cover:\n\nOr are â€œG...  ...  Am I judging a book by its cover\n\nOr are â€œGa...
7   @RobinhoodApp ðŸ˜‚ðŸ˜‚ YOU MF THIEVES!!!!!!!!!!!!!!!...  ...  RobinhoodApp ðŸ˜‚ðŸ˜‚ YOU MF THIEVES WHEN YOU WANNA ...
8   Gang Of Thieves Swarms Louis Vuitton Store, Sw...  ...  Gang Of Thieves Swarms Louis Vuitton Store Swi...
9   I told yâ€™all Thieves wouldnâ€™t beat LAG on lan....  ...  I told yâ€™all Thieves wouldnâ€™t beat LAG on lan ...
10  @alex_dreyfus @Chiliz @CoinbasePro @sixers You...  ...  alexdreyfus Chiliz CoinbasePro sixers You bunc...
11  @INTELCallofDuty @LAGuerrillas @LAThieves @XPS...  ...  INTELCallofDuty LAGuerrillas LAThieves XPSlayr...
12  100 Thieves is not a good COD Org! They always...  ...  100 Thieves is not a good COD Org They always ...
13  #ELONGATE IS A F3CK1NG JOKE. Price now the sam...  ...  ELONGATE IS A F3CK1NG JOKE Price now the same ...
14  @NotYourGill @BrosephSZN @NAMELESS NAdeshot an...  ...  NotYourGill BrosephSZN NAMELESS NAdeshot and 1...

[15 rows x 3 columns]

In [96]:
data = data.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))
data.head(15) # used to remove emojis!

                                                Tweet Category
0   @Lordoftheboard3 CHEATERS AND THIEVES Ive lost...   Gaming
1   Applied for job positions at 100 Thieves and T...   Gaming
2   its jhb day happy birthday jhbteam my favourit...   Gaming
3   Once again I wouldnt eat a burger made by anyo...   Gaming
4   @MadMagical Evil Geniuses and 100 Thieves goin...   Gaming
5   @SpradlinLaura @JacquesDutronc @CAEDD Thanks f...   Gaming
6   Am I judging a book by its cover\n\nOr are Gam...   Gaming
7   @RobinhoodApp  YOU MF THIEVES WHEN YOU WANNA B...   Gaming
8   Gang Of Thieves Swarms Louis Vuitton Store Swi...   Gaming
9   I told yall Thieves wouldnt beat LAG on lan Bu...   Gaming
10  @alexdreyfus @Chiliz @CoinbasePro @sixers You ...   Gaming
11  @INTELCallofDuty @LAGuerrillas @LAThieves @XPS...   Gaming
12  100 Thieves is not a good COD Org They always ...   Gaming
13  #ELONGATE IS A F3CK1NG JOKE Price now the same...   Gaming
14  @NotYourGill @BrosephSZN @NAMELESS NAdeshot an...   Gaming

In [71]:
# def find_mentioned(tweet):
#     '''This function will extract the twitter handles of people mentioned in the tweet'''
#     return re.findall('(?<!RT\s)(@[A-Za-z]+[A-Za-z0-9-_]+)', tweet)

# data['Mentioned'] = data.Tweet.apply(find_mentioned)
# data

                                                   Tweet  ...                                        Mentioned
0      @Lordoftheboard3 CHEATERS AND THIEVES Ive lost...  ...                               [@Lordoftheboard3]
1      Applied for job positions at 100 Thieves and T...  ...                                               []
2      it's jhb day!! happy birthday jhbteam my favou...  ...                                               []
3      Once again, I wouldn't eat a burger made by an...  ...                                               []
4      @Mad_Magical Evil Geniuses and 100 Thieves goi...  ...                                   [@Mad_Magical]
...                                                  ...  ...                                              ...
47732  London's Royal Academy Has Pulled an Artists W...  ...                                               []
47733  What will happen to the handshake after Covid-...  ...                                               []
47734  Really good article which sets out Ethiopia's ...  ...                                               []
47735  Neighbour burns down giant Frankenstein sculpt...  ...                                               []
47736  A schoolgirl in #Tigray told the BBC she lost ...  ...  [@selenagomez, @ashleygraham, @victoriabeckham]

[47737 rows x 4 columns]

# something new

In [97]:
def find_mentioned(tweet):
    '''This function will extract the twitter handles of people mentioned in the tweet'''
    return re.findall('(?<!RT\s)(@[A-Za-z]+[A-Za-z0-9-_]+)', tweet)
def find_hashtags(tweet):
    '''This function will extract hashtags'''
    return re.findall('(#[A-Za-z]+[A-Za-z0-9-_]+)', tweet)# make new columns for mentioned usernames and hashtags

data['mentioned'] = data.Tweet.apply(find_mentioned)
data['hashtags'] = data.Tweet.apply(find_hashtags)

In [98]:
data

                                                   Tweet  ...                                           hashtags
0      @Lordoftheboard3 CHEATERS AND THIEVES Ive lost...  ...                                                 []
1      Applied for job positions at 100 Thieves and T...  ...                                                 []
2      its jhb day happy birthday jhbteam my favourit...  ...                                                 []
3      Once again I wouldnt eat a burger made by anyo...  ...                                                 []
4      @MadMagical Evil Geniuses and 100 Thieves goin...  ...                                                 []
...                                                  ...  ...                                                ...
47732  Londons Royal Academy Has Pulled an Artists Wo...  ...                                   [#CancelCulture]
47733  What will happen to the handshake after Covid1...  ...                                                 []
47734  Really good article which sets out Ethiopias p...  ...                                                 []
47735  Neighbour burns down giant Frankenstein sculpt...  ...                                                 []
47736  A schoolgirl in #Tigray told the BBC she lost ...  ...  [#Tigray, #EndSexualViolenceInTigray, #EndRape...

[47737 rows x 4 columns]

In [102]:
data['Tweet'] = data['Tweet'].replace(r'\b',data['mentioned']+r'\b', value='',regex=True)

TypeError: ignored

In [80]:
data['Tweet w/o @'] = data.apply(lambda x: x['Tweet'].replace(x['mentioned'], ''), axis=1)

TypeError: ignored

In [78]:
data

                                                   Tweet  ...                                           hashtags
0      @Lordoftheboard3 CHEATERS AND THIEVES Ive lost...  ...                                                 []
1      Applied for job positions at 100 Thieves and T...  ...                                                 []
2      it's jhb day!! happy birthday jhbteam my favou...  ...                                                 []
3      Once again, I wouldn't eat a burger made by an...  ...                                                 []
4      @Mad_Magical Evil Geniuses and 100 Thieves goi...  ...                                                 []
...                                                  ...  ...                                                ...
47732  London's Royal Academy Has Pulled an Artists W...  ...                                   [#CancelCulture]
47733  What will happen to the handshake after Covid-...  ...                                                 []
47734  Really good article which sets out Ethiopia's ...  ...                                                 []
47735  Neighbour burns down giant Frankenstein sculpt...  ...                                                 []
47736  A schoolgirl in #Tigray told the BBC she lost ...  ...  [#Tigray, #EndSexualViolenceInTigray, #EndRape...

[47737 rows x 6 columns]

In [109]:
data['Tweet'].iloc[2]

'its jhb day happy birthday jhbteam my favourite 100 thieves senior intern httpstcoVVhrvye4gI'

In [74]:
my_stopwords = nltk.corpus.stopwords.words('english')
word_rooter = nltk.stem.snowball.PorterStemmer(ignore_stopwords=False).stem
my_punctuation = '!"$%&\'()*+,-./:;<=>?[\\]^_`{|}~â€¢@'

# cleaning master function
def clean_tweet(tweet, bigrams=False):
    tweet = remove_users(tweet)
    tweet = remove_links(tweet)
    tweet = tweet.lower() # lower case
    tweet = re.sub('['+my_punctuation + ']+', ' ', tweet) # strip punctuation
    tweet = re.sub('\s+', ' ', tweet) #remove double spacing
    tweet = re.sub('([0-9]+)', '', tweet) # remove numbers
    tweet_token_list = [word for word in tweet.split(' ') if word not in my_stopwords] # remove stopwords
    tweet_token_list = [word_rooter(word) if '#' not in word else word
                        for word in tweet_token_list] # apply word rooter
    if bigrams:
      tweet_token_list = tweet_token_list+[tweet_token_list[i]+'_'+tweet_token_list[i+1]
                                          for i in range(len(tweet_token_list)-1)]
    tweet = ' '.join(tweet_token_list)
    return tweet

tweets['clean_tweet'] = data.Tweet.apply(clean_tweet)

NameError: ignored

# again, with new df to test

In [226]:
df = pd.read_csv('all_data.csv',lineterminator='\n')

In [227]:
df

                                                   Tweet Category
0      @Lordoftheboard3 CHEATERS AND THIEVES Iâ€™ve los...   Gaming
1      Applied for job positions at 100 Thieves and T...   Gaming
2      it's jhb day!! happy birthday jhbteam my favou...   Gaming
3      Once again, I wouldn't eat a burger made by an...   Gaming
4      @Mad_Magical Evil Geniuses and 100 Thieves goi...   Gaming
...                                                  ...      ...
47732  London's Royal Academy Has Pulled an Artistâ€™s ...     News
47733  What will happen to the handshake after Covid-...     News
47734  Really good article which sets out Ethiopia's ...     News
47735  Neighbour burns down giant Frankenstein sculpt...     News
47736  A schoolgirl in #Tigray told the BBC she lost ...     News

[47737 rows x 2 columns]

In [105]:
import re
w = re.sub(r'https?:\/\/(www\.)?[-a-zA-Z0â€“9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0â€“9@:%_\+.~#?&//=]*)', '', tweet, flags=re.MULTILINE) # to remove links that start with HTTP/HTTPS in the tweet
tweet = re.sub(r'[-a-zA-Z0â€“9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0â€“9@:%_\+.~#?&//=]*)', '', tweet, flags=re.MULTILINE) # to remove other url links

' is the best'

all in one

In [111]:
!pip install wordsegment

Collecting wordsegment
  Downloading https://files.pythonhosted.org/packages/cf/6c/e6f4734d6f7d28305f52ec81377d7ce7d1856b97b814278e9960183235ad/wordsegment-1.3.1-py2.py3-none-any.whl (4.8MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4.8MB 4.1MB/s
Installing collected packages: wordsegment
Successfully installed wordsegment-1.3.1

In [113]:
!pip install autocorrect

Collecting autocorrect
  Downloading https://files.pythonhosted.org/packages/35/31/aa5d4b54baafed2d0eef47e30d527ea60eb7357f11c3b5adc58262a3c693/autocorrect-2.5.0.tar.gz (622kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 624kB 4.3MB/s
Building wheels for collected packages: autocorrect
  Building wheel for autocorrect (setup.py) ... done
  Created wheel for autocorrect: filename=autocorrect-2.5.0-cp37-none-any.whl size=621854 sha256=3dfee8fa3cf7ed98b130c187c52adca5b330e300953a7da28ca7ffdd2cbdb6c5
  Stored in directory: /root/.cache/pip/wheels/1f/71/da/4a15028d25fbd5fb97fb76c5f76f0ad86f0caa69394dd7cfa7
Successfully built autocorrect
Installing collected packages: autocorrect
Successfully installed autocorrect-2.5.0

In [163]:
import re
from wordsegment import load, segment
load()
from autocorrect import spell, Speller # dont rlly need this lol

In [141]:
def preprocessing(tweet1):
  tweet1 = re.sub(r'https?:\/\/(www\.)?[-a-zA-Z0â€“9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0â€“9@:%_\+.~#?&//=]*)', '', tweet1, flags=re.MULTILINE) # to remove links that start with HTTP/HTTPS in the tweet
  print(tweet1)
  tweet1 = re.sub(r'[-a-zA-Z0â€“9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0â€“9@:%_\+.~#?&//=]*)', '', tweet1, flags=re.MULTILINE) 
  tweet1 = ''.join(re.sub(r'(@[A-Za-z0â€“9]+)|([0-9A-Za-z \t])|(\w+:\/\/\S+)','',tweet1).split() # to remove #, @
  # tweet1 = "".join(segment(tweet1))
  # tweet1 = ''.join([spell(w) for w in tweet.split()]) # to check and correct spelling
  # tweet1 = re.sub(r'\d', '', tweet1) # to remove digits
  # tweet1 = tweet1.lower() # to lower the tweets
  # return tweet1

a = "@JoudElShawa is amazing i love her hahaha bestieee https://joudelshawa.com"
print(preprocessing(a))

SyntaxError: ignored

In [145]:
def preprocess(t):
  print(t)
  t = re.sub(r'https?:\/\/(www\.)?[-a-zA-Z0-9@:%/_\+-#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.-#?&//=]*)', '', t, flags=re.MULTILINE)
  print(t)
  return t

b = "@JoudElShawa is amazing i love her hahaha bestieee https://joudelshawa.com"
print(preprocess(b))

@JoudElShawa is amazing i love her hahaha bestieee https://joudelshawa.com

error: ignored

solved??

In [166]:
import autocorrect

In [232]:
def preprocessing(tweet1):
      # print(tweet1)
      tweet1 = str(tweet1)
      tweet1 = re.sub(r'https?:\/\/(www\.)?[-a-zA-Z0â€“9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0â€“9@:%_\+.~#?&//=]*)', '', tweet1, flags=re.MULTILINE) # to remove links that start with HTTP/HTTPS in the tweet
      # print(tweet1)
      tweet1 = re.sub(r'[-a-zA-Z0â€“9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0â€“9@:%_\+.~#?&//=]*)', '', tweet1, flags=re.MULTILINE) 
      # print(tweet1)
      tweet1 = ' '.join(re.sub("([^0-9A-Za-z \t])|(\w+:\/\/\S+)",'',tweet1).split()) # to remove #, @
      # tweet1 = ' '.join(re.sub("(@[A-Za-z0â€“9]+)|([0-9A-Za-z \t])|(\w+:\/\/\S+)",'',tweet1).split()) # to remove #, @
      # print("after removing @", tweet1)
      # tweet1 = " ".join(segment(tweet1))
      tweet2 = re.findall('[A-Z][^A-Z]*', tweet1)
      if (len(tweet2) != 0):
        t = ''
        for a in tweet2:
          t = t + a + " "
        tweet1 = t
      # print(tweet1)
      spelle = autocorrect.Speller('en')
      # tweet1 = ' '.join([spelle(w) for w in tweet1.split()]) # to check and correct spelling
      
      # print(tweet1)
      tweet1 = re.sub(r'\d', '', tweet1) # to remove digits
      # print(tweet1)
      tweet1 = tweet1.lower() # to lower the tweets
      return tweet1

a = "@brad_pitt is amazing i love her hahaha loooove bestie https://joudelshawa.com"
print(preprocessing(a))

bradpitt is amazing i love her hahaha loooove bestie

In [221]:
df.head(15)

                                                Tweet Category
0   @Lordoftheboard3 CHEATERS AND THIEVES Iâ€™ve los...   Gaming
1   Applied for job positions at 100 Thieves and T...   Gaming
2   it's jhb day!! happy birthday jhbteam my favou...   Gaming
3   Once again, I wouldn't eat a burger made by an...   Gaming
4   @Mad_Magical Evil Geniuses and 100 Thieves goi...   Gaming
5   @SpradlinLaura @JacquesDutronc @CA_EDD Thanks ...   Gaming
6   Am I judging a book by its cover:\n\nOr are â€œG...   Gaming
7   @RobinhoodApp ðŸ˜‚ðŸ˜‚ YOU MF THIEVES!!!!!!!!!!!!!!!...   Gaming
8   Gang Of Thieves Swarms Louis Vuitton Store, Sw...   Gaming
9   I told yâ€™all Thieves wouldnâ€™t beat LAG on lan....   Gaming
10  @alex_dreyfus @Chiliz @CoinbasePro @sixers You...   Gaming
11  @INTELCallofDuty @LAGuerrillas @LAThieves @XPS...   Gaming
12  100 Thieves is not a good COD Org! They always...   Gaming
13  #ELONGATE IS A F3CK1NG JOKE. Price now the sam...   Gaming
14  @NotYourGill @BrosephSZN @NAMELESS NAdeshot an...   Gaming

In [231]:
df['Tweet Preprocessed'] = df['Tweet'].apply(preprocessing)

TypeError: ignored

# WE ARE HERE !!!!

In [242]:
subset = df.loc[0:20]
# subset = df[['A']].copy(deep=True)
subset

                                                Tweet Category
0   @Lordoftheboard3 CHEATERS AND THIEVES Iâ€™ve los...   Gaming
1   Applied for job positions at 100 Thieves and T...   Gaming
2   it's jhb day!! happy birthday jhbteam my favou...   Gaming
3   Once again, I wouldn't eat a burger made by an...   Gaming
4   @Mad_Magical Evil Geniuses and 100 Thieves goi...   Gaming
5   @SpradlinLaura @JacquesDutronc @CA_EDD Thanks ...   Gaming
6   Am I judging a book by its cover:\n\nOr are â€œG...   Gaming
7   @RobinhoodApp ðŸ˜‚ðŸ˜‚ YOU MF THIEVES!!!!!!!!!!!!!!!...   Gaming
8   Gang Of Thieves Swarms Louis Vuitton Store, Sw...   Gaming
9   I told yâ€™all Thieves wouldnâ€™t beat LAG on lan....   Gaming
10  @alex_dreyfus @Chiliz @CoinbasePro @sixers You...   Gaming
11  @INTELCallofDuty @LAGuerrillas @LAThieves @XPS...   Gaming
12  100 Thieves is not a good COD Org! They always...   Gaming
13  #ELONGATE IS A F3CK1NG JOKE. Price now the sam...   Gaming
14  @NotYourGill @BrosephSZN @NAMELESS NAdeshot an...   Gaming
15  @itshundredz @HisandHersLive @PlayApex If we a...   Gaming
16                              LET'S GO 100 THIEVES.   Gaming
17  @theking_keem You seem like the kind of guy to...   Gaming
18  @Nadeshot @JakeSucky 100 Incompetents not 100 ...   Gaming
19  4. Use money to make money\n\nIn 2019,Â Drakeâ€™s...   Gaming
20  @NAMELESS Thereâ€™s like a very select handful o...   Gaming

In [243]:
subset['Tweet Preprocessed'] = subset['Tweet'].apply(preprocessing)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df

In [228]:
df['Tweet Preprocessed'] = preprocessing(df['Tweet'])

TypeError: ignored

In [230]:
df

                                                   Tweet Category
0      @Lordoftheboard3 CHEATERS AND THIEVES Iâ€™ve los...   Gaming
1      Applied for job positions at 100 Thieves and T...   Gaming
2      it's jhb day!! happy birthday jhbteam my favou...   Gaming
3      Once again, I wouldn't eat a burger made by an...   Gaming
4      @Mad_Magical Evil Geniuses and 100 Thieves goi...   Gaming
...                                                  ...      ...
47732  London's Royal Academy Has Pulled an Artistâ€™s ...     News
47733  What will happen to the handshake after Covid-...     News
47734  Really good article which sets out Ethiopia's ...     News
47735  Neighbour burns down giant Frankenstein sculpt...     News
47736  A schoolgirl in #Tigray told the BBC she lost ...     News

[47737 rows x 2 columns]

In [229]:
df['Tweet']

0        @Lordoftheboard3 CHEATERS AND THIEVES Iâ€™ve los...
1        Applied for job positions at 100 Thieves and T...
2        it's jhb day!! happy birthday jhbteam my favou...
3        Once again, I wouldn't eat a burger made by an...
4        @Mad_Magical Evil Geniuses and 100 Thieves goi...
                               ...
47732    London's Royal Academy Has Pulled an Artistâ€™s ...
47733    What will happen to the handshake after Covid-...
47734    Really good article which sets out Ethiopia's ...
47735    Neighbour burns down giant Frankenstein sculpt...
47736    A schoolgirl in #Tigray told the BBC she lost ...
Name: Tweet, Length: 47737, dtype: object

In [154]:
# def preproc(tweet1):
#       tweet1 = re.sub(r'https?:\/\/(www\.)?[-a-zA-Z0â€“9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0â€“9@:%_\+.~#?&//=]*)', '', tweet1, flags=re.MULTILINE) # to remove links that start with HTTP/HTTPS in the tweet
#       tweet1 = re.sub(r'[-a-zA-Z0â€“9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0â€“9@:%_\+.~#?&//=]*)', '', tweet1, flags=re.MULTILINE) 
#       tweet1 = ' '.join(re.sub("(@[A-Za-z0â€“9]+)|([0-9A-Za-z \t])|(\w+:\/\/\S+)",'',tweet1).split()) # to remove #, @
#       tweet1 = "".join(segment(tweet1))
#       tweet1 = ''.join([spell(w) for w in tweet1.split()]) # to check and correct spelling
#       tweet1 = re.sub(r'\d', '', tweet1) # to remove digits
#       tweet1 = tweet1.lower() # to lower the tweets
#       return tweet1

# b = "@JoudElShawa is amazing i love her hahaha bestieee https://joudelshawa.com"
# print(preproc(b))

# removing @ and urls

# tokenization

In [ ]:
def tokenize(text):
    split=re.split("\W+",text) 
    return split
news['title_wo_punct_split']=news['title_wo_punct'].apply(lambda x: tokenize(x.lower()))
news.head()